<app-nav></app-nav>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../../../assets/images/home-page.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to the Employee Management System!</h1>
            <p class="lead">Your one-stop platform for managing and empowering your team. Get started today and discover
                how easy it is to keep everything organized and running smoothly."</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button> -->
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">
                    <a href="#features" style="text-decoration: none; color: inherit;">Features</a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container px-4 py-5">
    <h2 id="features" class="pb-2 border-bottom">Key Features</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h2 class="fw-bold text-body-emphasis">Effortless Employee Management</h2>
            <p class="text-body-secondary">Our Employee Management System makes it easy to manage your team. You can
                effortlessly add new employees, update their details, and remove those who are no longer with the
                company. The intuitive interface also allows you to view and filter employee information quickly,
                ensuring you have all the details you need at your fingertips.</p>
            <!-- <a href="#" class="btn btn-primary btn-lg">Primary button</a> -->
        </div>

        <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center bg-gradient fs-4 rounded-3">
                        <img src="../../../assets/images/add-emp-icon.png" width="70px" alt="" srcset="">
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Add a new employee</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center bg-gradient fs-4 rounded-3">
                        <img src="../../../assets/images/update-emp-icon.png" width="70px" alt="" srcset="">
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Update employee details</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center bg-gradient fs-4 rounded-3">
                        <img src="../../../assets/images/delete-emp-icon.png" width="70px" alt="" srcset="">

                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Remove employee</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center bg-gradient fs-4 rounded-3">
                        <img src="../../../assets/images/view-emp-icon.png" width="70px" alt="" srcset="">

                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">View employees</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
        </div>
    </div>
</div>